.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.sub_title {
  margin-top: 1rem !important;
  animation: fadeIn 4s;
}

.dashboard_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
